<h1>Publicatie {{ publication.title }}</h1>
{% if publication.catalogi|default %}
<p>Catalogi: {{ publication.catalogi.title }}</p>
{% endif %}
{% if publication.metaData|default %}
<p>Publicatie Type: {{ publication.metaData.title }}</p>
{% endif %}
{% if publication.reference|default %}<p>Referentie: {{ publication.reference }}</p>{% endif %}
{% if publication.summary|default %}<p>Samenvatting: {{ publication.summary }}</p>{% endif %}
{% if publication.description|default %}<p>Beschrijving: {{ publication.description }}</p>{% endif %}

{% if publication.data|default %}
<style>
	table.tb { border-collapse: collapse; width:300px; }
	.tb th, .tb td { padding: 5px; border: solid 1px #777; }
	.tb th { background-color: lightblue;}
</style>
<h2>Publicatie Data</h2>
<table class="tb" title="Publicatie Data">
	<tr>
		<th>Key</th>
		<th>Value</th>
	</tr>
	{% for key, value in publication.data %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
	{% endfor %}
</table>
{% endif %}
