<h1>Publicatie {{ publication.title }}</h1>
<p>Catalogi: {{ publication.catalogi.title }}</p>
<p>Publicatie Type: {{ publication.metaData.title }}</p>
<p>Referentie: {{ publication.reference }}</p>
<p>Samenvatting: {{ publication.summary }}</p>
<p>Beschrijving: {{ publication.description }}</p>
<table>
	<tr>
		<th>Key</th>
		<th>Value</th>
	</tr>
	{% for key, value in publication.data %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
	{% endfor %}
</table>
