<h1>Publicatie {{ publication.title }}</h1>

<style>
	th, td {
		border-style: none;
		padding-right: 5px;
		padding-bottom: 3px;
	}
</style>

{% if publication.catalogi|default %}
<h3>Catalogi</h3>
<table>
	<tr>
		<td>Titel: </td>
		<td>{{ publication.catalogi.title }}</td>
	</tr>
	{% if publication.catalogi.summary|default %}
	<tr>
		<td>Samenvatting: </td>
		<td>{{ publication.catalogi.summary }}</td>
	</tr>
	{% endif %}
	{% if publication.catalogi.description|default %}
	<tr>
		<td>Beschrijving: </td>
		<td>{{ publication.catalogi.description }}</td>
	</tr>
	{% endif %}
{#	{% if publication.catalogi.organisation|default %}#}
{#		<tr>#}
{#			<td>Organisatie: </td>#}
{#			<td>{{ publication.catalogi.organisation }}</td>#}
{#		</tr>#}
{#	{% endif %}#}
</table>
{% endif %}

{% if publication.metaData|default %}
<h3>Publicatie Type</h3>
<table>
	<tr>
		<td>Titel: </td>
		<td>{{ publication.metaData.title }}</td>
	</tr>
	{% if publication.metaData.version|default %}
		<tr>
			<td>Versie: </td>
			<td>{{ publication.metaData.version }}</td>
		</tr>
	{% endif %}
	{% if publication.metaData.description|default %}
		<tr>
			<td>Beschrijving: </td>
			<td>{{ publication.metaData.description }}</td>
		</tr>
	{% endif %}
{#	{% if publication.metaData.required|default %}#}
{#		<tr>#}
{#			<td>Vereisten: </td>#}
{#			<td>{{ publication.metaData.required }}</td>#}
{#		</tr>#}
{#	{% endif %}#}
</table>
{% endif %}

<hr>

<table>
	{% if publication.reference|default %}
		<tr>
			<td>Referentie: </td>
			<td>{{ publication.reference }}</td>
		</tr>
	{% endif %}
	{% if publication.summary|default %}
		<tr>
			<td>Samenvatting: </td>
			<td>{{ publication.summary }}</td>
		</tr>
	{% endif %}
	{% if publication.description|default %}
		<tr>
			<td>Beschrijving: </td>
			<td>{{ publication.description }}</td>
		</tr>
	{% endif %}
	{% if publication.category|default %}
		<tr>
			<td>Categorie: </td>
			<td>{{ publication.category }}</td>
		</tr>
	{% endif %}
	{% if publication.portal|default %}
		<tr>
			<td>Portal: </td>
			<td>{{ publication.portal }}</td>
		</tr>
	{% endif %}
	{% if publication.image|default %}
		<tr>
			<td>Foto: </td>
			<td>{{ publication.image }}</td>
		</tr>
	{% endif %}
{#	{% if publication.themes|default %}#}
{#		<tr>#}
{#			<td>Thema's: </td>#}
{#			<td>{{ publication.themes }}</td>#}
{#		</tr>#}
{#	{% endif %}#}
	{% if publication.featured is defined %}
		<tr>
			<td>Uitgelicht: </td>
			<td>{% if publication.featured == true %}Ja{% else %}Nee{% endif %}</td>
		</tr>
	{% endif %}
	{% if publication.license|default %}
		<tr>
			<td>Licentie: </td>
			<td>{{ publication.license }}</td>
		</tr>
	{% endif %}
	{% if publication.status|default %}
		<tr>
			<td>Status: </td>
			<td>{{ publication.status }}</td>
		</tr>
	{% endif %}
	{% if publication.published|default %}
		<tr>
			<td>Gepubliceerd: </td>
			<td>{{ publication.published | date("d-m-Y H:i") }}</td>
		</tr>
	{% endif %}
	{% if publication.modified|default %}
		<tr>
			<td>Gewijzigd: </td>
			<td>{{ publication.modified | date("d-m-Y H:i") }}</td>
		</tr>
	{% endif %}
</table>

{% if publication.data|default %}
<style>
	table.tb { border-collapse: collapse; width:300px; }
	.tb th, .tb td { padding: 5px; border: solid 1px #777; }
	.tb th { background-color: lightblue;}
</style>
<h4>Eigenschappen</h4>
<table class="tb" title="Publicatie Data">
	<tr>
		<th>Naam</th>
		<th>Data</th>
	</tr>
	{% for key, value in publication.data %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		</tr>
	{% endfor %}
</table>
{% endif %}
